<div class="container">
  <div class="sunken-panel" style="height: 80px; width: 213px">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Professor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Math 200</td>
          <td>Calc 1</td>
          <td>Dr. Nuerberg</td>
        </tr>
        <tr>
          <td>Math 201</td>
          <td>Calc 2</td>
          <td>Dr. Merino</td>
        </tr>
        <tr>
          <td>CMPS 290</td>
          <td>--------</td>
          <td>Dr. Ghassan</td>
        </tr>
        <tr>
          <td>Math 380</td>
          <td>Stats</td>
          <td>Dr. Reyes</td>
        </tr>
        <tr>
          <td>CMPS 390</td>
          <td>Data</td>
          <td>Dr. Mcdowel</td>
        </tr>
        <tr>
          <td>CMPS 290</td>
          <td>Computer</td>
          <td>Dr. McNulty</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="back">
  <button routerLink="/">Go Back</button>
</div>
<div class="get">
  <button (click)="acquire()">get course</button>
</div>
<div class="name">
  <p>{{ course?.name }}</p>
</div>
<router-outlet></router-outlet>
