.back {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.get {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
}
