<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <div>
      <h1>{{ course?.name }}</h1>
    </div>
    <div>
      <h3 *ngFor="let professor of course?.professors | slice : 0 : 1">
        {{ professor.name }}
      </h3>
    </div>
  </div>
  <div>
    <div>
      <button
        pButton
        pRipple
        style="width: 7rem"
        class="p-button-warning"
        type="button"
        icon="pi pi-pencil"
        iconPos="right"
        label="Edit"
        (click)="toCourseEdit()"
      ></button>
    </div>
    <div>
      <button
        pButton
        pRipple
        style="width: 7rem"
        class="p-button-danger"
        type="button"
        icon="pi pi-arrow-left"
        iconPos="right"
        label="Back"
        (click)="toUniversity()"
      ></button>
    </div>
  </div>
</div>
<p-divider></p-divider>
<div style="display: flex; justify-content: center">
  <p>
    {{ course?.description }} <br />
    <br />
    [tests and flashcards go here]
  </p>
</div>
