<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<div style="display: flex; justify-content: space-between; align-items: center">
  <h1>Universities</h1>
  <p-button
    label="Create"
    icon="pi pi-plus"
    iconPos="right"
    (onClick)="toUniversityCreate()"
  ></p-button>
</div>
<div class="container-fluid">
  <p-divider></p-divider>
  <div class="row" style="display: flex; justify-content: center">
    <div class="col-4" *ngFor="let university of universities | async">
      <p-card>
        <div
          style="display: flex; justify-content: center; cursor: pointer"
          (click)="toUniversity(university.id)"
        >
          <h2>
            {{ university.name }}
          </h2>
        </div>
        <ng-template pTemplate="footer">
          <div style="display: flex; justify-content: flex-end">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirm(university.id)"
            ></button>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div
      *ngIf="(universities | async)?.length === 0"
      style="display: flex; justify-content: center"
    >
      <h2>No Universities</h2>
    </div>
  </div>
</div>
