<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <h1>Professors</h1>
  </div>
  <div>
    <button
      pButton
      pRipple
      icon="pi pi-plus"
      iconPos="right"
      label="Create"
      (click)="toProfessorCreate()"
    ></button>
  </div>
</div>
<p-divider></p-divider>
<div class="container-fluid">
  <div class="row" style="display: flex; justify-content: center">
    <div class="col-2" *ngFor="let professor of professors | async">
      <p-card>
        <div style="display: flex; justify-content: center">
          <h2>{{ professor.name }}</h2>
        </div>
        <ng-template pTemplate="footer">
          <div style="display: flex; justify-content: space-between">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirm(professor.id)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-warning"
              (click)="toProfessorEdit(professor.id)"
            ></button>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div
      *ngIf="(professors | async)?.length === 0"
      style="display: flex; justify-content: center"
    >
      <h2>No Professors</h2>
    </div>
  </div>
</div>
