<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="display: flex; justify-content: center">
        Edit University {{ university?.name }}
      </h1>
    </div>
  </div>
  <p-divider></p-divider>
  <div style="display: flex; justify-content: center">
    <div class="row">
      <form (submit)="onSubmit()">
        <div class="col">
          <label>Name</label>
        </div>
        <div class="col-3">
          <input
            style="width: 20rem"
            type="text"
            pInputText
            [(ngModel)]="editedUniversity.name"
            name="Name"
          />
        </div>

        <div class="col" style="display: flex; justify-content: space-between">
          <button pButton pRipple type="submit" label="Submit"></button>
          <button
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-outlined p-button-danger"
            (click)="onCancel()"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
